// Variables

$primary: #0BDE0B;
$dark: #000;
$light: #0BDE0B;
$green: #76FF03;
$greendark: #50B600;
$lightdark : #666;
$a : #067d06;

$navbar-text-shadow: true;
$header-text-shadow: true;
$header-background-color: $dark;
$intro-text-color: $light;
$navbar-color: $light;
$navbar-lg-collapse-background-color: $header-background-color;
$navbar-lg-background: transparent;
$navbar-sm-background-color: $navbar-lg-collapse-background-color;

$social-buttons-color: $primary;
